<!-- <h1>Welcome to {{ hotelName }}</h1> -->

<mhdev-header></mhdev-header>
<div [hidden]="hideRooms">
  Number of rooms:
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>
{{ rooms?.availableRooms ?? "No rooms" }}
<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>
<!-- {{ roomList | json }} -->
<!-- not want to display to all users -->
<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="hideRooms">
  <!-- $event must from child component -->
  <mhdev-rooms-list
    [rooms]="roomList"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></mhdev-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>
<!-- document.getElementById('numberOfRooms').innerText = 'numberOfRooms'; -->
<h1>{{ totalBytes }} loaded</h1>
